<h3>How will you spend your Saturday Night?.</h3>
<br>
<br>
<h2> <%= @story %> </h2>
<form method='POST' action=<%= @action %> >
	<label for=<%= @choice1 %> >
		<input type= 'radio' name='choice' value =<%= @choice1 %> > <%= @choice1.capitalize %>
	</label><br>
	<label for=<%= @choice2 %> >
		<input type= 'radio' name='choice' value =<%= @choice2 %> > <%= @choice2.capitalize %>
	</label><br>
	<input type='submit'>
</form>